
body {

    padding: 50px 20%;
}

h1, h2, h3, em, strong {

    color: plum;

}

h1 {
    text-transform: uppercase;
}

h1, h3 {
    text-align: center;
}

h2 {
    text-align: right;
    border-bottom: lightslategray solid;
}

hr {
    border: lightslategray dotted thin;
    align: center;
    width: 50%;
}

p {
    color: darkslategray;
    font-family: Georgia serif;
    text-align: justify;
    font-style: italic;
}

#big-achievement {
    color: red;
}




