
body {
    padding-left: 20%;
    padding-right:20%;
}

h1, h2, h3, em, strong {

    color: plum;

}

h1, h3 {
    text-align: center;
}

h2 {
    text-align: right;
    border-bottom: lightslategray solid;
}

hr {
    border: lightslategray dotted thin;
    align: center;
    width: 50%;
}

p {
    color: darkslategray;
    font-family: Georgia serif;
}




